body { 
    background: url(../images/dogGameBkg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


#player {

    position: absolute;
    margin-top: 150px;
    background-size: 60px 60px !important;
    width:60px;
    height: 60px;
}

#wall {
    position:absolute;
    margin-top: 170px;
    margin-top: 50px;
    
}



