body {
background-image: url("../images/dogGameBkg.jpg");
    background-repeat: no-repeat;
    background-size: 80%;
 
}

#player {

    position: absolute;
    margin-top: 150px;
    background: url(../images/courage.png) no-repeat;
    background-size: 75px 75px;
    width:90px;
    height: 90px;
   

}



#map {

}