html { 
    background: url(../images/dogGameBkg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#player {

    position: absolute;
    margin-top: 150px;
    background: url(../images/courage.png) no-repeat;
    background-size: 75px 75px;
    width:90px;
    height: 90px;
   

}



/*#map {

} */